/* FOLHA DE ESTILOS - ANGEL SKATESHOP */


body {
    margin: 10px;
    background-image: url(../img/bg.png);
    background-position: center top;
    background-size: cover;
    font-size: 14px;
}

h1 {
    font-size: 2em;
}

.conteudo {
    background-color: #fff;
    min-height: 500px;
    width: 80%;
    border: solid 1px #ccc;
    border-radius: 13px;
    box-shadow: 3px 3px 5px #7d7d7d;
}

.logo {
    height: 150px;
}

.angel {
    height: 350px;
    margin-left: 30px;
}


